.navi {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.navi ul{
    margin:0;
    padding: 0;
}
.navi ul li{
    list-style:none;
    display:inline-block;
}
.navi ul li a{
    text-decoration: none;
    display:block;
    font-size:20px;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
    padding: 0 10px;
}
.navi li a:hover {
    color:rgba(153, 140, 128, 0.933);
}
.search{
    display: flex;
    margin: 0 10px;
    height: 25px;
}
.searchicon{
    height: 25px;
}
.searchInput{
    border:0;
    width: 0;
    transition:width 0.5s ease-in;
}
.searchInput.active{
    width: 150px;
}
.searchInput:focus{
    outline:none;
}