.header{
    display:flex;
    justify-content: space-between;
    margin:15px 0;
}

.headerMenu a{
    display: inline-block;
    margin: 0px 10px;
    font-size: 15px;
    letter-spacing: 1.5px;
    color:black;
    text-decoration: none;
}

.headerMenu a:hover{
    color:rgba(153, 140, 128, 0.933);
}

img{
    height: 50px;
}

.foto{
    height: 25px;
    float:rigt;
}
