.postTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin:0;
    font-weight: 600;
}
.postedBy{
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    display: block;
}
.add{
    font-size: 20px;
    padding: 10px 0;
}
.postText{
    font-size:20px;
} 